.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  /* max-width: 600px; */
}


button {
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 500px;
}

button:hover {
  background-color: #282c34;
  color: white;
}

.active {
  background-color: rgb(181, 190, 209);
}

.ListItem:hover {
  background-color: rgb(226, 229, 235);
}

ul {
  list-style-type: none;
}


.ListContainer {
  padding: 0px 10px;
  display: grid;
}

.ListContainerTitle {
  text-align: initial;
  padding: 0px 0px 0px 80px;
}

.ListItemsContainer {
  overflow: auto;
  display: grid;
  grid-gap: 5px;
  max-width: 600px;
}

.ListItem {
  display: grid;
  grid-template-columns: 70px auto;
  grid-template-rows: auto;
  grid-template-areas:
  "avatar header header"
  "avatar address address"
  ". expand rating"
  ". footer footer";
  border-style: solid;
  padding: 10px;
  /* border-color: black; */
}

.Avatar.ListItemTitle.ListItemText {
  background-color: #e7e7e7;
  color: black;
}

.Avatar.ListItemTitle.ListItemText:hover {
  background-color: #282c34;
  color: white;
}

.Avatar {
  grid-area: avatar;
}

.AvatarImage {
  height: 50px;
  width: 50px;
  padding: 0 5px 0 0;
}

.ListItemTitle {
  grid-area: header;
  font-size: 0.75em;
  font-style: italic;
  color: rgb(113, 146, 207);
  justify-self: baseline;
}

h2 {
  margin: 0;
}

h5 {
  margin: 0;
}

.ListItemText {
  grid-area: address;
  justify-self: baseline;
}

.showRatingButton {
  padding: 0 10px 0 0;
}

.UserRatingsTitle {
  display: inline-block;
  margin: 0 10px 0 0;
}

.UserRatingsButton{
  justify-self: baseline;
  padding: 5px 0 0 0;
  grid-area: expand;
  display: inline;
}

.overallRating {
  grid-area: rating;
}

.starsGrid{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}

.stars{
  text-align: center;
  padding: 0 0 0 170px;
  /* display: inline-block; */
}

.ratingNumber{
  display: inline;
  padding: 7px 0;
}

.star {
  position: relative;
  font-size: x-large;
  width: 25px;
  display: inline-block;
  color: gray;
}
.star:last-child {
  margin-right: 0;
}
.star:before {
  content: "\2605";
}
.star.on {
  color: gold;
}
.star.half:after {
  content: "\2605";
  color: gold;
  position: absolute;
  margin-left: -20px;
  width: 10px;
  overflow: hidden;
}

.ListItemUserRatings {
  grid-area: footer;
}

.userRating-userName {
  grid-area: userName;
  margin-top: 14px;
  justify-self: baseline;
  font-weight: 700;
}

.userRating-userRating {
  grid-area: userRating;
}

.userRating-review {
  grid-area: userReview;
  margin-bottom: 10px;
}

.userRating {
  border-top: solid;
  border-color: rgb(180, 178, 178);
  background-color: white;
  margin: 0px;
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-rows: auto;
  grid-template-areas:
  "userAvatar userName userRating"
  ". userReview   userReview";
  margin-bottom: 0.5em;
}

.userRating-reviewText{
  display: inline;
  padding: 10px;
}

.UserAvatarImage {
  grid-area: userAvatar;
  height: 50px;
  width: 50px;
}

@media (min-width: 1200px) {
  .content {
    max-height: 500px;
    grid-template-columns: auto 1fr;
  }
  .ListItemsContainer {
    overflow: auto;
    display: grid;
    grid-gap: 5px;
    max-height: 500px;
    min-width: 500px;
  }
}